# .-.exports 
# Used for adding any exports or shell options (shopt)

test "$SILENT" == false && echo -e '*  .- Exports\t\t\t\t*'

# PS1 - Export a more useful prompt
# If ps1 has not changed from start then modify
# The history command flags are:
# -a Append the new history lines (history lines entered since the beginning of the current Bash session) to the history file.
# -n Append the history lines not already read from the history file to the current history list. These are lines appended to the history file since the beginning of the current Bash session.

if [ "$PS1CACHE" == "$PS1" ]; then
    if test "$COLOR" == true && test -n "$TPUTCOLORS" && test $TPUTCOLORS -ge 8; then
        # Colorized prompt
        export PROMPT_COMMAND=history\ -a && color_prompt_command
    else
        # No colors
        export PROMPT_COMMAND=history\ -a prompt_command        
    fi
fi

# EDITOR - Export default editor based on what is available for the OS
# If already defined then skip
if [ -z "$EDITOR" ]; then
    if ( os_is darwin ); then
        # OSX
        if ( exists mate ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR:\tTextMate\t\t*'
            export EDITOR="mate"
        elif ( exists subl ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR:\Sublime Text\t\t*'
            export EDITOR="subl -w"
        elif ( exists sublime ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR:\Sublime Text\t\t*'
            export EDITOR="sublime -w"        
        elif ( exists nano ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR:\tNano\t\t*'        
            export EDITOR="/usr/bin/nano"
        elif ( exists vim ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR\tvim\t\t*'        
            export EDITOR="/usr/bin/vim"
        elif ( exists vi ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR\tvi\t\t*'        
            export EDITOR="/usr/bin/vi" 
        fi
    elif ( os_is linux ); then
        # Linux 
        if ( exists nano ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR\tNano\t\t*'        
            export EDITOR="/usr/bin/nano"
        elif ( exists vim ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR\tvim\t\t*'        
            export EDITOR="/usr/bin/vim"
        elif ( exists vi ); then
            test "$DOTSILENT" == false && echo -e '*\tEDITOR\tvi\t\t*'        
            export EDITOR="/usr/bin/vi"
        fi
    fi
fi

# If colorize is true and the $TERM supports colors then customize the prompt
if test "$COLOR" == true && test -n "$TPUTCOLORS" && test $TPUTCOLORS -ge 8; then
    # Enable coloring
    export CLICOLOR=1
    
    # Colorized grep
    export GREP_OPTIONS='--color=auto' GREP_COLOR='1;32'
   
    # Colorized ls settings
    # Default: LSCOLORS=exfxcxdxbxegedabagacad
    export LSCOLORS=ExFxCxDxBxegedabagacad
    
    # Colorized less
    if ( exists less ); then
        export LESS="--RAW-CONTROL-CHARS"       
        export LESS_TERMCAP_mb=$(tput bold; tput setaf 2) # green
        export LESS_TERMCAP_md=$(tput bold; tput setaf 6) # cyan
        export LESS_TERMCAP_me=$(tput sgr0)
        export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4) # yellow on blue
        export LESS_TERMCAP_se=$(tput rmso; tput sgr0)
        export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7) # white
        export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
        export LESS_TERMCAP_mr=$(tput rev)
        export LESS_TERMCAP_mh=$(tput dim)
        export LESS_TERMCAP_ZN=$(tput ssubm)
        export LESS_TERMCAP_ZV=$(tput rsubm)
        export LESS_TERMCAP_ZO=$(tput ssupm)
        export LESS_TERMCAP_ZW=$(tput rsupm)
    fi
fi

# Erase duplicate commands in history and ignore spaces
export HISTCONTROL="erasedups:ignoreboth"

# Larger history size
export HISTFILESIZE=50000
export HISTSIZE=10000

if ( exists shopt ); then
    # Append history otherwise bash erases on exit
    shopt -s histappend
    # Save multiline commands as one command
    shopt -s cmdhist
fi
